.galeria {
    padding: $separacion 0;

    h3 {
        text-align: center;
    }
}

.galeria_imagenes {
    padding: 0; // Eliminar el padding de los UL
    list-style: none;
    margin-top: $separacion;

    @include grid(2, $separacion);
    @include mediaTablet {
        @include grid(4, $separacion / 2);
    }
    @include mediaDesktop {
        @include grid(6, $separacion / 2);
    }
}

.overlay {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-items: center; //Centrar vertical u horizontalmente con grid
}

.btn_cerrar {
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    font-weight: $black;
    font-size: 3rem;
    border-radius: 50%;
    background-color: $blanco;

    &:hover {
        cursor: pointer;
    }
}