.galeria {
    padding: $separacion 0;

    h3 {
        text-align: center;
    }
}

.galeria_imagenes {
    padding: 0; // Eliminar el padding de los UL
    list-style: none;
    margin-top: $separacion;

    @include grid(2, $separacion);
    @include mediaTablet {
        @include grid(4, $separacion / 2);
    }
    @include mediaDesktop {
        @include grid(6, $separacion / 4);
    }
}

.galeria_imagen {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
    -webkit-box-shadow:1px 1px 1px 2px rgba(223, 222, 222, 0.363);
    -moz-box-shadow: 1px 1px 1px 2px rgba(223, 222, 222, 0.363);
    box-shadow: 1px 1px 1px 2px rgba(223, 222, 222, 0.363);
    cursor: pointer;

    &:hover {
        -webkit-transform:scale(1.1);
        transform:scale(1.1);
        overflow:hidden;
    }
}


.overlay {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-items: center; //Centrar vertical u horizontalmente con grid
}

.btn_cerrar {
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    font-weight: $black;
    font-size: 3rem;
    border-radius: 50%;
    background-color: $blanco;

    &:hover {
        cursor: pointer;
    }
}