.header {
    background-color: $verde;
    .contenido-header {
        padding: calc(5rem - 3rem) 0;
        @include mediaTablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    h1 {
        color: $blanco;
        margin-bottom: 1rem;
        text-align: center;
        @include mediaTablet {
            margin-bottom: 0;
        }
    }
}

.navegacion-principal {
    display: flex;
    gap: 2rem;
    justify-content: center;
    a {
        color: $blanco;
        font-size: 1.5rem;
        &:hover {
            color: $amarillo;
        }
    }
}